<div class="flex-1 h-full">
    @if((isLoading$ | async) == true) {
    <div role="status" class=" flex justify-center w-full h-screen">
        <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg>
        <span class="sr-only">Loading...</span>
    </div>
    } @else
    {
    <div class="grid grid-cols-2 gap-12 mt-12 mb-12">
        <div class="rounded-md overflow-hidden h-[32rem]">
            <img [src]="(product$ | async)?.imageUrl != null
            ? 
            (product$ | async)?.imageUrl
            : 
            'https://media.istockphoto.com/id/1147544807/vi/vec-to/h%C3%ACnh-thu-nh%E1%BB%8F-%C4%91%E1%BB%93-h%E1%BB%8Da-vector.jpg?s=612x612&w=0&k=20&c=bPh3iqkZIarqqYwyC2K8aAm8ZaNE6r4jCm7IGcZrK9M='"
                alt="Preview image" class="h-full w-full object-cover">
        </div>
        <div class="lg:pl-10 mt-6 md:mt-0">
            <div class="flex flex-col gap-4">
                <!-- content -->
                <div class="block text-green-600">{{(product$ | async)?.categoryName}}</div>
                <!-- heading -->
                <div class="flex flex-col text-[32px] font-semibold">
                    <h1>{{(product$ | async)?.name}}</h1>
                </div>
                <div class="flex gap-4">
                    <h1>{{((product$ | async)?.price)|currency:'VND'}}</h1>
                    <div class="line-through text-gray-500">
                        {{ (((product$ | async)?.price || 0)*1.5)|currency:'VND' }}
                    </div>
                </div>
                <!-- hr -->
                <div class="flex flex-col gap-6">
                    <hr>
                    <div>
                        <!-- input -->
                        <div class="flex items-center gap-x-1.5">
                            <button type="button" (click)="changeQuantity(-1)"
                                class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                                tabindex="-1" aria-label="Decrease" data-hs-input-number-decrement="">
                                <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                </svg>
                            </button>
                            <input
                                class="p-0 w-16 bg-transparent border-0 text-gray-800 text-center focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none dark:text-white"
                                type="number" aria-roledescription="Number field" min="0" [value]="quantity"
                                data-hs-input-number-input="">
                            <button type="button" (click)="changeQuantity(1)"
                                class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                                tabindex="-1" aria-label="Increase" data-hs-input-number-increment="">
                                <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5v14"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-wrap justify-start gap-2 items-center">
                        <div class="">
                            <!-- button -->
                            <!-- btn -->
                            <button type="button" (click)="addToCart(productId)"
                                class="px-10 py-2 rounded-md text-[16px] inline-flex items-center gap-x-1 bg-green-600 text-white border-green-600 disabled:opacity-50 disabled:pointer-events-none hover:text-white hover:bg-green-700 hover:border-green-700 active:bg-green-700 active:border-green-700 focus:outline-none focus:ring-4 focus:ring-green-300 btn-sm"
                                fdprocessedid="2teu1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-bag">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M6.331 8h11.339a2 2 0 0 1 1.977 2.304l-1.255 8.152a3 3 0 0 1 -2.966 2.544h-6.852a3 3 0 0 1 -2.965 -2.544l-1.255 -8.152a2 2 0 0 1 1.977 -2.304z">
                                    </path>
                                    <path d="M9 11v-5a3 3 0 0 1 6 0v5"></path>
                                </svg>
                                <span>Add To Cart</span>
                            </button>
                        </div>
                    </div>
                    <!-- hr -->
                    <hr>
                </div>
                <div>
                    <!-- table -->
                    <table class="text-left w-full">
                        <tbody>
                            <tr>
                                <td class="px-6 py-3">Product Code:</td>
                                <td class="px-6 py-3">{{(product$ | async)?.code}}</td>
                            </tr>
                            <tr>
                                <td class="px-6 py-3">Availability:</td>
                                <td class="px-6 py-3">
                                    {{(product$ | async)?.quantity || 0 > 0 ? 'In stock' : 'Out of stock'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="px-6 py-3">Shipping:</td>
                                <td class="px-6 py-3">
                                    <small>
                                        01 day shipping.
                                        <span class="text-gray-500">( Free pickup today)</span>
                                    </small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="flex flex-wrap">
            <div class="w-full">
                <div class=" border-b border-gray-300 " id="myTab" role="tablist">
                    <!-- btn -->
                    <button class="inline-block py-3 font-semibold no-underline nav-link active" id="product-tab"
                        data-bs-toggle="tab" data-bs-target="#product-tab-pane" type="button" role="tab"
                        aria-controls="product-tab-pane" aria-selected="true" fdprocessedid="x6fvfh">
                        Product Details
                    </button>
                </div>
                <div class="opacity-100 block ">
                    <div class="my-8 flex flex-col gap-5">
                        <div class="flex flex-col gap-1">
                            <!-- text -->
                            <h3 class="text-lg font-semibold">Description</h3>
                            <p>
                                {{(product$ | async)?.description}}
                            </p>
                        </div>
                        <!-- content -->
                        <div class="flex flex-col gap-1">
                            <h4 class="text-md font-semibold">Quantity</h4>
                            <p>{{(product$ | async)?.quantity}} units</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>